core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
# .github/
cloudinary_python.txt
**/._*
./._*
._*
.dev/
# api
# api/*
**/.env
*.sh
ecosystem.config.*js
ci-appollo-11.code*
*.code-workspace