/* Fonts import */

/* CSS Variables */

/* Global styles */

/* Dev Styles */

.container {
	border: 1px solid red

}

.row {
	border: 1px solid lightgreen

}

.col {
	border: 1px solid lightskyblue
}
/* Bootstrap Overides */

/* Media Queries */
