/* Fonts import */
@font-face {
	font-family: 'dseg7';
	src: url('/assets/fonts/DSEG7Classic-Regular.woff2') format('woff2')
		url('/assets/fonts/DSEG7Classic-Regular.woff') format('woff')
		url('/assets/fonts/DSEG7Classic-Regular.ttf') format('truetype');
}

/* CSS Variables */

:root {
	--dsky-yellow-values: 248, 230, 130;
	--dsky-button-values: 26, 26, 26;
	--dsky-button-text-values: 238, 238, 238;

	--dsky-yellow-off: rgba(var(--dsky-yellow-values), 0.1);
	--dsky-yellow-on: rgba(var(--dsky-yellow-values), 0.8);
	--dsky-button: rgba(var(--dsky-button-values), 1);
	--dsky-button-hover: rgba(var(--dsky-button-values), 0.6);
	--dsky-button-text: rgba(var(--dsky-button-text-values), 1);
}

/* Global styles */

/* Remove default styles applied by browser */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.seven-segment {
	font-family: 'dseg7', sans-serif !important;
	font-size: 50px;
}
/* Dev Styles */

.container {
	border: 1px solid red;
}

.row {
	border: 1px solid lightgreen;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	border: 1px solid lightskyblue;
}

/* Bootstrap Overides */

/* Nav */
nav.navbar {
	/* Keep navbar fixed to top of screen, and above all other elements */
	position: fixed;
	width: 100%;
	top: 0;

	z-index: 10;
}

/* Header */
header {
	/* To accomodate fixed nav */
	margin-top: 65px;
}

/* DSKY styles */

/* Display lights stles */

.light {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.5em;
}

.light.yellow {
	background-color: rgba(248, 230, 130, 0.1);
}

/* Push-buttons UI styles */

.push-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
	flex-wrap: nowrap;
	gap: 0.4em;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.4em;
}

.push-button.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 10%;
	padding: 50%;
	font-size: 0.9em;
	background-color: var(--dsky-button);
	color: var(--dsky-button-text);
}

.push-button.btn:hover,
.push-button.btn:active,
.push-button.btn:first-child:active,
.push-button.btn:not(.btn-check) + .btn:active {
	background-color: var(--dsky-button-hover);
}

.verb-noun {
	justify-content: center;
}

.push-row {
	display: flex;
	flex-direction: column;
}

/* Media Queries */
