/* Fonts import */
@font-face {
	font-family: 'dseg7';
	src: url('../fonts/DSEG7Classic-BoldItalic.woff2') format('woff2');
	/* url('/assets/fonts/DSEG7Classic-BoldItalic.woff') format('woff') */
	/* url('/assets/fonts/DSEG7Classic-BoldItalic.ttf') format('truetype'); */
	font-weight: normal;
	font-style: normal;
	/* Ensure text remains visible if loading times are apparent */
	font-display: swap;
}
@font-face {
	font-family: 'dseg7-mini';
	src: url('../fonts/DSEG7ClassicMini-BoldItalic.woff2') format('woff2');
	/* url('/assets/fonts/DSEG7Classic-BoldItalic.woff') format('woff') */
	/* url('/assets/fonts/DSEG7Classic-BoldItalic.ttf') format('truetype'); */
	font-weight: normal;
	font-style: normal;
	/* Ensure text remains visible if loading times are apparent */
	font-display: swap;
}

/* CSS Variables */

:root {
	--dsky-yellow-values: 248, 230, 130;
	--dsky-button-values: 26, 26, 26;
	--dsky-button-text-values: 238, 238, 238;
	--dsky-display-bg-values: 92, 92, 92;
	--dsky-display-blue-values: 0, 255, 255;

	--dsky-yellow-off: rgba(var(--dsky-yellow-values), 0.1);
	--dsky-yellow-on: rgba(var(--dsky-yellow-values), 0.8);
	--dsky-button: rgba(var(--dsky-button-values), 1);
	--dsky-button-hover: rgba(var(--dsky-button-values), 0.6);
	--dsky-button-text: rgba(var(--dsky-button-text-values), 1);
	--dsky-display-bg: rgba(var(--dsky-display-bg-values), 1);
	--dsky-display-blue: rgba(var(--dsky-display-blue-values), 1);
}

/* Global styles */

*.hidden {
	display: none;
}

/* Remove default styles applied by browser */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.seven-segment {
	font-family: 'dseg7-mini', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	letter-spacing: 2px;
	color: var(--dsky-display-blue);
}
/* Dev Styles */

.container {
	/* border: 1px solid red; */
}

.row {
	/* border: 1px solid lightgreen; */
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	border: 1px solid lightskyblue;
}

/* Bootstrap Overides */

/* Nav */
nav.navbar {
	/* Keep navbar fixed to top of screen, and above all other elements */
	position: fixed;
	width: 100%;
	top: 0;

	z-index: 10;
}

/* Header */
header {
	/* To accomodate fixed nav */
	margin-top: 65px;
}

/* DSKY styles */

.row.lights-displays {
	justify-content: center;
}

.col-6.indicator-lights,
.col-6.numerical-displays {
	width: 200px;
}

/* Display lights stles */

.light {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.5em;
	background-color: rgba(var(--dsky-display-bg-values), 1);
}

.light.yellow {
	background-color: rgba(248, 230, 130, 0.1);
}

.light.active {
	background-color: rgba(var(--dsky-yellow-values), 0.8);
}

button.btn.pressed {
	border: 2px solid blueviolet;
}

/* Numerical displays styles */

.col-6.numerical-displays {
	max-width: 200px;
	width: 160px;
	color: var(--dsky-display-bg);
	text-align: center;
	padding: 0;
}

.static-display {
	font-size: 0.8rem;
}

.row.prog {
	height: 2.8rem;
}

.numerical-displays .row {
	background-color: var(--dsky-display-bg);
	flex-wrap: nowrap;
}

.comp-acty.active {
	color: var(--dsky-display-blue);
}

.dsky-highlight {
	background-color: var(--dsky-display-blue);
}

.row.verb-noun {
	height: 2.2rem;
}

span[id^='register_'] {
	height: 1.6rem;
}

[class^='col-'].polarity {
	display: flex;

	color: var(--dsky-display-blue);
	padding: 0;
	/* line-height: normal; */
	font-size: 1.6rem;
	/* padding-left: 6px; */
	justify-content: center;
	align-items: center;
}

span[id^='polarity'] {
	position: relative;
	bottom: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
}

.data-register .seven-segment {
	padding: 0;
}

/* Push-buttons UI styles */

.push-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 0.4em;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.4em;
}

.push-button.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 10%;
	padding: 50%;
	font-size: 0.9em;
	background-color: var(--dsky-button);
	color: var(--dsky-button-text);
}

.push-button[dsky-state='active'],
.btn.active,
.push-button.btn:hover,
.push-button.btn:active,
.push-button.btn:first-child:active,
.push-button.btn:not(.btn-check) + .btn:active {
	background-color: var(--dsky-button-hover);
}

.verb-noun {
	justify-content: center;
}

.push-row {
	display: flex;
	flex-direction: column;
}

/* Media Queries */
